#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $dark-color;
}

.home-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
